# Compiled output & Node
/dist
/tmp
/out-tsc
/node_modules
*.log

# IDEs & VS Code
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular & Misc
/.angular/cache
/coverage
.DS_Store

# End-to-end (E2E)
/e2e/*.js
/e2e/*.map